*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    height: 100%;
    
}


.uppercase{
    text-transform: uppercase;
}

.blue-300{
    color: rgb(208,214,249);
}

.white{
    color: #FFFF;
}

 .nav ul li a.active-page{
    text-decoration: underline white;
 }


.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

nav li:first-child{
    margin-right:auto;
}



nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 425px){  /*MOBILE*/

     body{
        background-image:url("assets/home/background-home-mobile.jpg");
        background-size: cover;
    }
    

    .sidebar{
        height: 100vh;
        max-width: 350px;
        width: 75%;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        transition: 0.3s ease;
        background: rgba(11, 13, 23, 0.67);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.2px);
        -webkit-backdrop-filter: blur(7.2px);
    }

    .siderabar li, a{
        width: 100%;
    }

    .hideOnMobile{
        display: none;
    }

    nav:first-child{
        margin-right: auto;
    }

    nav{
        padding:10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-items: center;
    }
    
    li{
        list-style: none;
        text-decoration: none;
        text-underline-offset: 40px;
    }

    
.align-li{
    height: 100%;
    align-self: center;
}

    a{
        text-decoration: none;
        color: white;

        
    }

    a:hover{
        cursor: pointer;
        text-decoration: underline rgba(255, 255, 255, 0.445);
    }

    .close-icon{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
}

.sidebar ul, .sidebar li{
    height: 40px;
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: start;

}

.sidebar li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
} 

    .main-content{
        width: 100%;;
    }
    .main-texts{
        width: 80%;
    }
}

@media screen and (min-width:425px) and (max-width: 780px){  /*TABLET*/

     body{
    background-image:url("assets/home/background-home-tablet.jpg");
    background-size: cover;
    }

       li{
        list-style: none;
        text-decoration: none;
        text-underline-offset: 40px;
    }

        a{
        text-decoration: none;
        color: white;

        
    }

    .sidebar{
        display:none;
    }

    .hideOnDesktop{
        display: none;
    }

    a:hover{
        cursor: pointer;
        text-decoration: underline rgba(255, 255, 255, 0.445);
    }


    .main{
        height: auto;
        width: 100%;
    }

    .mainContent{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        text-align: center;
        margin: 64px 0px 0px 0px;
    }

    .explore-button{

        width: 272px;
        height: 272px;
        border-radius: 50%;
        margin-top: 64px;
    }

}

@media (min-width: 781px){  /*DESKTOP*/


    body{
    background-image:url("assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

    li{
        list-style: none;
        text-decoration: none;
        text-underline-offset: 40px;
    }
    

    a{
        text-decoration: none;
        color: white;

        
    }

    a:hover{
        cursor: pointer;
        text-decoration: underline rgba(255, 255, 255, 0.445);
    }

 
    .main{
        height: auto;
        width: 100%;
    }

    .mainContent{
        height: 632px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 100px;
    }

    .main-texts{
        width: 540px;
    }

    .explore-button{
        width: 272px;
        height: 272px;
        border-radius: 50%;
        text-decoration: none;
        text-align: center;
        border: none;
        z-index: 2;

    }

    .explore-button:hover{
        cursor: pointer;
         
    }

    .hover-button{
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.411);
        position: absolute;
        right: 90px;
        bottom: 250px;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        
    }

    .hover-button:hover{
        opacity: 1;
    }

    .paddingB-16px{
        padding-bottom: 16px;
    }

    .paddingB-32px{
        padding-bottom: 32px;
    }

    .sidebar{
        display: none;
    }

    .hideOnDesktop{
        display: none;
    }
}