*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    height: 100%;
    
}

.textPreset-1{
    font-family: "Bellefair", serif;
    letter-spacing: 0px;
    font-size: 144px;
}

.textPreset-2{
    font-family: "Bellefair", serif;
    letter-spacing: 0px;
    font-size: 100px;
}

.textPreset-3{
    font-family: "Bellefair", serif;
    letter-spacing: 0px;
    font-size: 56px;
}

.textPreset-4{
    font-family: "Bellefair", serif;
    letter-spacing: 0px;
    font-size: 32px;
}

.textPreset-5{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4px;
    font-size: 28px;
}
.textPreset-6{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0px;
    font-size: 28px;
}
.textPreset-7{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
}
.textPreset-8{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4px;
    font-size: 16px;
}
.textPreset-9{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0px;
    font-size: 18px;
}

.uppercase{
    text-transform: uppercase;
}

.blue-300{
    color: rgb(208,214,249);
}

.white{
    color: #FFFF;
}

 .nav ul li a.active-page{
    text-decoration: underline white;
 }


.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media screen and (max-width: 400px){  /*MOBILE*/

     body{
    background-image:url("assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    max-width: 1440px;
    max-height: 900px;
    }

}

@media screen and (min-width:401px) and (max-width: 780px){  /*TABLET*/

     body{
    background-image:url("assets/home/background-home-tablet.jpg");
    background-size: cover;
    }

       li{
        list-style: none;
        text-decoration: none;
        text-underline-offset: 40px;
    }

        a{
        text-decoration: none;
        color: white;

        
    }

    a:hover{
        cursor: pointer;
        text-decoration: underline rgba(255, 255, 255, 0.445);
    }


    .header{
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        margin-left: 32px;

    }

    .nav{
        display: flex;
        padding-left: 32px;
        width: 85%;
    }

    .list{
        display: flex;
        width: 100%;
        height: 96px;
        background-color: rgba(255, 255, 255, 0.11);
        align-items: center;
        justify-content: space-around;
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 16px;

    }

    .main{
        height: auto;
        width: 100%;
    }

    .mainContent{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        text-align: center;
        margin: 64px 0px 0px 0px;
    }

    .explore-button{

        width: 272px;
        height: 272px;
        border-radius: 50%;
        margin-top: 64px;
    }

}

@media (min-width: 781px){  /*DESKTOP*/


    body{
    background-image:url("assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

    .nav{
        display: flex;
        width: 60%;
        flex-direction: column;
    }
    .header{
        height: 136px;
        width: 90%;
        display: flex;
        align-items: center;
        margin-left: 64px;
    }
    .line{
        height: 2px;
        width: 25%;
        margin-left: 64px;
        border-bottom: 2px solid rgb(119, 119, 119);
    }

    li{
        list-style: none;
        text-decoration: none;
        text-underline-offset: 40px;
    }
    
    .list{
        display: flex;
        height: 96px;
        background-color: rgba(255, 255, 255, 0.11);
        align-items: center;
        justify-content: space-around;
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
    }

    a{
        text-decoration: none;
        color: white;

        
    }

    a:hover{
        cursor: pointer;
        text-decoration: underline rgba(255, 255, 255, 0.445);
    }

 
    .main{
        height: auto;
        width: 100%;
    }

    .mainContent{
        height: 632px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 100px;
    }

    .main-texts{
        width: 540px;
    }

    .explore-button{
        width: 272px;
        height: 272px;
        border-radius: 50%;
        text-decoration: none;
        text-align: center;
        border: none;
        z-index: 2;

    }

    .explore-button:hover{
        cursor: pointer;
         
    }

    .hover-button{
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.411);
        position: absolute;
        right: 90px;
        bottom: 250px;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        
    }

    .hover-button:hover{
        opacity: 1;
    }

    .paddingB-16px{
        padding-bottom: 16px;
    }

    .paddingB-32px{
        padding-bottom: 32px;
    }
}